xml/skat2017/view/RenteIndberetningPrioritetslaanStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:ekap2017="http://skat.dk/ekapital/2017/01/01" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/ekapital/2017/01/01" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xs:annotation>
		<xs:documentation/>
		<xs:documentation>r16527</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="../class/Indkomst.xsd"/>
	<xs:include schemaLocation="../class/Virksomhed.xsd"/>
	<xs:include schemaLocation="../class/Konto.xsd"/>
	<xs:include schemaLocation="../class/Note.xsd"/>
	<xs:include schemaLocation="../class/PantIdentifikation.xsd"/>
	<xs:include schemaLocation="../class/Kommune.xsd"/>
	<xs:include schemaLocation="../class/Ejendom.xsd"/>
	<xs:include schemaLocation="../class/Land.xsd"/>
	<xs:include schemaLocation="../class/KontoValuta.xsd"/>
	<xs:include schemaLocation="../class/Rente.xsd"/>
	<xs:include schemaLocation="../class/Laan.xsd"/>
	<xs:include schemaLocation="../class/Kontantlaan.xsd"/>
	<xs:include schemaLocation="../class/KapitalIndkomst.xsd"/>
	<xs:include schemaLocation="../class/LaanForhold.xsd"/>
	<xs:include schemaLocation="../class/KontoPeriode.xsd"/>
	<xs:include schemaLocation="../class/KontoType.xsd"/>
	<xs:include schemaLocation="../operational/FlereEndToKontohavereIkkeAlleOplyst.xsd"/>
	<xs:include schemaLocation="../class/Person.xsd"/>
	<xs:include schemaLocation="../class/PersonNavn.xsd"/>
	<xs:include schemaLocation="../operational/VirksomhedFormandAdministrator.xsd"/>
	<xs:include schemaLocation="../operational/KontohaverIdentifikationMulig.xsd"/>
	<xs:include schemaLocation="../class/VirksomhedNavn.xsd"/>
	<xs:include schemaLocation="../operational/KontohaverUkendt.xsd"/>
	<xs:include schemaLocation="../operational/KontohaverIrrelevant.xsd"/>
	<xs:include schemaLocation="../view/IndberetningIdentifikatorStrukturType.xsd"/>
	<xs:include schemaLocation="../view/FoedselInformationStrukturType.xsd"/>
	<xs:include schemaLocation="../view/IndberetningDanskAdresseStrukturType.xsd"/>
	<xs:include schemaLocation="../view/RenteIndberetningUdenlandskAdresseStrukturType.xsd"/>
	<xs:include schemaLocation="../view/TINNummerStrukturType.xsd"/>
	<xs:element name="RenteIndberetningPrioritetslånStruktur" type="ekap2017:RenteIndberetningPrioritetslånStrukturType"/>
	<xs:complexType name="RenteIndberetningPrioritetslånStrukturType">
		<xs:sequence>
			<xs:element name="Indberetningsperiode">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ekap2017:IndkomstÅr"/>
						<xs:element ref="ekap2017:IndkomstPeriodeTil" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Indberetningspligtig">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ekap2017:VirksomhedSENummer"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element ref="ekap2017:KontoID"/>
			<xs:element name="IndberetningValg">
				<xs:complexType>
					<xs:choice>
						<xs:sequence>
							<xs:element name="Invalidering">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="ekap2017:IndberetningIdentifikatorStruktur"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:sequence>
							<xs:element name="RetbarPrioritetslånKontoOplysninger">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="ekap2017:IndberetningIdentifikatorStruktur"/>
										<xs:element ref="ekap2017:NoteTekst" minOccurs="0"/>
										<xs:element name="KontoDetaljer">
											<xs:complexType>
												<xs:sequence>
													<xs:element ref="ekap2017:PantIdentifikationNummer"/>
													<xs:element name="EjendomIdentifikationValg" minOccurs="0">
														<xs:complexType>
															<xs:choice>
																<xs:sequence>
																	<xs:element name="IndenlandskEjendom">
																		<xs:complexType>
																			<xs:sequence>
																				<xs:element ref="ekap2017:KommuneNummer"/>
																				<xs:element ref="ekap2017:EjendomNummer"/>
																			</xs:sequence>
																		</xs:complexType>
																	</xs:element>
																</xs:sequence>
																<xs:sequence>
																	<xs:element name="UdenlandskEjendom">
																		<xs:complexType>
																			<xs:sequence>
																				<xs:element name="EjendomLand">
																					<xs:complexType>
																						<xs:sequence>
																							<xs:element ref="ekap2017:LandKode"/>
																						</xs:sequence>
																					</xs:complexType>
																				</xs:element>
																			</xs:sequence>
																		</xs:complexType>
																	</xs:element>
																</xs:sequence>
															</xs:choice>
														</xs:complexType>
													</xs:element>
													<xs:element ref="ekap2017:KontoStartDato"/>
													<xs:element ref="ekap2017:KontoOphørDato" minOccurs="0"/>
													<xs:element ref="ekap2017:KontoValutaKode" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Beløb">
											<xs:complexType>
												<xs:sequence>
													<xs:element ref="ekap2017:RenteBeløb"/>
													<xs:element ref="ekap2017:LånRestgældBeløb" minOccurs="0"/>
													<xs:element ref="ekap2017:LånKursværdi" minOccurs="0"/>
													<xs:element ref="ekap2017:KontantlånKurstab" minOccurs="0"/>
													<xs:element ref="ekap2017:KapitalIndkomstReserveFondsUdlodningVærdiStigning" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="KontoPeriodeValg">
											<xs:complexType>
												<xs:choice>
													<xs:sequence>
														<xs:element name="KontoPeriodeÅrsUltimoListe">
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="KontoPeriode" minOccurs="1" maxOccurs="unbounded">
																		<xs:complexType>
																			<xs:sequence>
																				<xs:element ref="ekap2017:RenteBeløb"/>
																				<xs:element ref="ekap2017:KontantlånIndfriKode" minOccurs="0"/>
																				<xs:element ref="ekap2017:KontantlånKurstab" minOccurs="0"/>
																				<xs:element ref="ekap2017:KapitalIndkomstReserveFondsUdlodningVærdiStigning" minOccurs="0"/>
																				<xs:element ref="ekap2017:LånForholdRestanceMarkering"/>
																				<xs:element ref="ekap2017:KontoPeriodeOpstartDato" minOccurs="0"/>
																				<xs:element ref="ekap2017:KontoPeriodeOphørDato" minOccurs="0"/>
																				<xs:element ref="ekap2017:KontoTypeKode"/>
																				<xs:element ref="ekap2017:FlereEndToKontohavereIkkeAlleOplyst"/>
																				<xs:element name="KontohaverListe">
																					<xs:complexType>
																						<xs:sequence>
																							<xs:element name="KontohaverOplysninger" minOccurs="1" maxOccurs="unbounded">
																								<xs:complexType>
																									<xs:sequence>
																										<xs:element ref="ekap2017:LånForholdGældEftergivelseKode" minOccurs="0"/>
																										<xs:element name="UdenlandskEjendom" minOccurs="0">
																											<xs:complexType>
																												<xs:sequence>
																													<xs:element ref="ekap2017:EjendomNummer"/>
																												</xs:sequence>
																											</xs:complexType>
																										</xs:element>
																										<xs:element name="KontohaverValg">
																											<xs:complexType>
																												<xs:choice>
																													<xs:sequence>
																														<xs:element name="IndlændingValg">
																															<xs:complexType>
																																<xs:choice>
																																	<xs:sequence>
																																		<xs:element name="PersonValg">
																																			<xs:complexType>
																																				<xs:choice>
																																					<xs:element ref="ekap2017:PersonCPRNummer"/>
																																					<xs:sequence>
																																						<xs:element name="KontohaverUdenCPRNummer">
																																							<xs:complexType>
																																								<xs:sequence>
																																									<xs:element ref="ekap2017:PersonNavnForNavn"/>
																																									<xs:element ref="ekap2017:PersonNavnEfterNavn"/>
																																									<xs:element ref="ekap2017:FødselInformationStruktur"/>
																																									<xs:element ref="ekap2017:IndberetningDanskAdresseStruktur"/>
																																								</xs:sequence>
																																							</xs:complexType>
																																						</xs:element>
																																					</xs:sequence>
																																				</xs:choice>
																																			</xs:complexType>
																																		</xs:element>
																																	</xs:sequence>
																																	<xs:element ref="ekap2017:VirksomhedSENummer"/>
																																</xs:choice>
																															</xs:complexType>
																														</xs:element>
																													</xs:sequence>
																													<xs:sequence>
																														<xs:element name="ValutariskUdlændingValg">
																															<xs:complexType>
																																<xs:choice>
																																	<xs:sequence>
																																		<xs:element name="Person">
																																			<xs:complexType>
																																				<xs:sequence>
																																					<xs:element ref="ekap2017:PersonCPRNummer" minOccurs="0"/>
																																					<xs:element ref="ekap2017:PersonNavnForNavn"/>
																																					<xs:element ref="ekap2017:PersonNavnEfterNavn"/>
																																					<xs:element ref="ekap2017:RenteIndberetningUdenlandskAdresseStruktur"/>
																																					<xs:element ref="ekap2017:FødselInformationStruktur"/>
																																					<xs:element ref="ekap2017:TINNummerStruktur" minOccurs="0"/>
																																					<xs:element ref="ekap2017:VirksomhedFormandAdministrator"/>
																																					<xs:element ref="ekap2017:KontohaverIdentifikationMulig"/>
																																				</xs:sequence>
																																			</xs:complexType>
																																		</xs:element>
																																	</xs:sequence>
																																	<xs:sequence>
																																		<xs:element name="Virksomhed">
																																			<xs:complexType>
																																				<xs:sequence>
																																					<xs:element ref="ekap2017:VirksomhedSENummer" minOccurs="0"/>
																																					<xs:element ref="ekap2017:VirksomhedNavnFirmaNavn"/>
																																					<xs:element ref="ekap2017:RenteIndberetningUdenlandskAdresseStruktur"/>
																																					<xs:element ref="ekap2017:TINNummerStruktur" minOccurs="0"/>
																																				</xs:sequence>
																																			</xs:complexType>
																																		</xs:element>
																																	</xs:sequence>
																																</xs:choice>
																															</xs:complexType>
																														</xs:element>
																													</xs:sequence>
																													<xs:element ref="ekap2017:KontohaverUkendt"/>
																												</xs:choice>
																											</xs:complexType>
																										</xs:element>
																									</xs:sequence>
																								</xs:complexType>
																							</xs:element>
																						</xs:sequence>
																					</xs:complexType>
																				</xs:element>
																			</xs:sequence>
																		</xs:complexType>
																	</xs:element>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
													</xs:sequence>
													<xs:sequence>
														<xs:element name="KontoPeriodeKvartalListe">
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="KontoPeriode" minOccurs="1" maxOccurs="unbounded">
																		<xs:complexType>
																			<xs:sequence>
																				<xs:element ref="ekap2017:RenteBeløb"/>
																				<xs:element ref="ekap2017:LånForholdRestanceMarkering"/>
																				<xs:element ref="ekap2017:KontoPeriodeOpstartDato" minOccurs="0"/>
																				<xs:element ref="ekap2017:KontoPeriodeOphørDato" minOccurs="0"/>
																				<xs:element ref="ekap2017:KontoTypeKode"/>
																				<xs:element name="KontohaverListe" minOccurs="0">
																					<xs:complexType>
																						<xs:sequence>
																							<xs:element name="KontohaverOplysninger" minOccurs="1" maxOccurs="2">
																								<xs:complexType>
																									<xs:sequence>
																										<xs:element name="UdenlandskEjendom" minOccurs="0">
																											<xs:complexType>
																												<xs:sequence>
																													<xs:element ref="ekap2017:EjendomNummer"/>
																												</xs:sequence>
																											</xs:complexType>
																										</xs:element>
																										<xs:element name="KontohaverValg">
																											<xs:complexType>
																												<xs:choice>
																													<xs:sequence>
																														<xs:element name="IndlændingValg">
																															<xs:complexType>
																																<xs:choice>
																																	<xs:element ref="ekap2017:PersonCPRNummer"/>
																																	<xs:element ref="ekap2017:VirksomhedSENummer"/>
																																</xs:choice>
																															</xs:complexType>
																														</xs:element>
																													</xs:sequence>
																													<xs:sequence>
																														<xs:element name="ValutariskUdlænding">
																															<xs:complexType>
																																<xs:sequence>
																																	<xs:element ref="ekap2017:PersonCPRNummer"/>
																																</xs:sequence>
																															</xs:complexType>
																														</xs:element>
																													</xs:sequence>
																													<xs:element ref="ekap2017:KontohaverUkendt"/>
																													<xs:element ref="ekap2017:KontohaverIrrelevant"/>
																												</xs:choice>
																											</xs:complexType>
																										</xs:element>
																									</xs:sequence>
																								</xs:complexType>
																							</xs:element>
																						</xs:sequence>
																					</xs:complexType>
																				</xs:element>
																			</xs:sequence>
																		</xs:complexType>
																	</xs:element>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
													</xs:sequence>
												</xs:choice>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:choice>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
