xml/skat2017/class/IndberetningValidering.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:ekap2017="http://skat.dk/ekapital/2017/01/01" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/ekapital/2017/01/01" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xs:annotation>
		<xs:documentation>Validering af en indberetning, som sendes tilbage til indberetter som del af en forretningsmæssig kvittering.</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="../types/TekstKortType.xsd"/>
	<xs:include schemaLocation="../types/Tekst2000Type.xsd"/>
	<xs:include schemaLocation="../types/TekstLangType.xsd"/>
	<xs:element name="IndberetningValideringStatus" type="ekap2017:TekstKortType">
		<xs:annotation>
			<xs:documentation>Angiver status for validering af en indberetning.   GodkendtKonto: Indberetning er modtaget uden valideringsfejl. Oplysningerne vil blive brugt af SKAT.   GodkendtKontoAdvis:  Indberetning er modtaget uden valideringsfejl. SKAT har opsat advis vedrørende en eller flere oplysninger i indberetningen for kontoen. Adviset kræver eventuelt rettelse i grundregistreringen.   FejlKontohaver:  For en konto med flere kontohavere er der fejl eller mangler i oplysningerne om mindst én kontohaver. Fejlen skal rettes inden 14 dage. Oplysningerne om eventuelle øvrige kontohavere, der er modtaget uden valideringsfejl, vil blive brugt af SKAT.   FejlKonto:  Der er fejl og mangler i oplysningerne om selve kontoen og/eller alle kontohavere og/eller en eller flere kontohaverperioder. Oplysningerne kan ikke bruges af SKAT. Indberetningen skal rettes inden 14 dage.  FejlIndberetning: Fil ikke genkendt som XML. Fejl ved XML validering. Fejl i ikke ret-bare felter. Rettelsesprincip ikke overholdt.  Invalideret: Indberetning for kontoen er invalideret.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="IndberetningValideringIdentifikation" type="ekap2017:Tekst2000Type">
		<xs:annotation>
			<xs:documentation>Entydig identifikation af et element i en indberetning, som enten er fejlet eller har opsat advis. Kan fx indeholde en xPath.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="IndberetningValideringIdentifikationVærdi" type="ekap2017:TekstLangType">
		<xs:annotation>
			<xs:documentation>Indeholder værdien af et felt, fra en indberetning, som enten er fejlet eller har opsat advis.</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>
