xml/skat2023/view/RenteIndberetningIndlaanStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:ekap2023="http://skat.dk/ekapital/2023/01/01" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/ekapital/2023/01/01" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xs:annotation>
		<xs:documentation/>
		<xs:documentation>r25782</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="../class/Indkomst.xsd"/>
	<xs:include schemaLocation="../class/Virksomhed.xsd"/>
	<xs:include schemaLocation="../class/Konto.xsd"/>
	<xs:include schemaLocation="../class/Note.xsd"/>
	<xs:include schemaLocation="../class/Bank.xsd"/>
	<xs:include schemaLocation="../class/BankKonto.xsd"/>
	<xs:include schemaLocation="../class/IndlaanKonto.xsd"/>
	<xs:include schemaLocation="../class/KontoValuta.xsd"/>
	<xs:include schemaLocation="../operational/IndlaanKontoInddragelseSpaerringDato.xsd"/>
	<xs:include schemaLocation="../class/Rente.xsd"/>
	<xs:include schemaLocation="../class/Kontoperiode.xsd"/>
	<xs:include schemaLocation="../class/KontoType.xsd"/>
	<xs:include schemaLocation="../operational/FlereEndToKontohavereIkkeAlleOplyst.xsd"/>
	<xs:include schemaLocation="../class/Person.xsd"/>
	<xs:include schemaLocation="../class/VirksomhedFormand.xsd"/>
	<xs:include schemaLocation="../class/PersonNavn.xsd"/>
	<xs:include schemaLocation="../operational/KontohaverIdentifikationMulig.xsd"/>
	<xs:include schemaLocation="../class/VirksomhedNavn.xsd"/>
	<xs:include schemaLocation="../operational/KontohaverUkendt.xsd"/>
	<xs:include schemaLocation="../operational/KontohaverIrrelevant.xsd"/>
	<xs:include schemaLocation="../operational/RentenyderIdentifikationMulig.xsd"/>
	<xs:include schemaLocation="../operational/RentenyderUkendt.xsd"/>
	<xs:include schemaLocation="../operational/RentenyderIrrelevant.xsd"/>
	<xs:include schemaLocation="../view/IndberetningIdentifikatorStrukturType.xsd"/>
	<xs:include schemaLocation="../view/FoedselInformationStrukturType.xsd"/>
	<xs:include schemaLocation="../view/IndberetningDanskAdresseStrukturType.xsd"/>
	<xs:include schemaLocation="../view/IndberetningUdenlandskAdresseStrukturType.xsd"/>
	<xs:include schemaLocation="../view/TINNummerStrukturType.xsd"/>
	<xs:element name="RenteIndberetningIndlånStruktur" type="ekap2023:RenteIndberetningIndlånStrukturType"/>
	<xs:complexType name="RenteIndberetningIndlånStrukturType">
		<xs:sequence>
			<xs:element name="Indberetningsperiode">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ekap2023:IndkomstÅr"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Indberetningspligtig">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ekap2023:VirksomhedSENummer"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element ref="ekap2023:KontoID"/>
			<xs:element name="IndberetningValg">
				<xs:complexType>
					<xs:choice>
						<xs:sequence>
							<xs:element name="Invalidering">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="ekap2023:IndberetningIdentifikatorStruktur"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:sequence>
							<xs:element name="RetbarKontoOplysninger">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="ekap2023:IndberetningIdentifikatorStruktur"/>
										<xs:element ref="ekap2023:NoteTekst" minOccurs="0"/>
										<xs:element name="KontoDetaljer">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Pengeinstitut" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element ref="ekap2023:BankRegistreringsnummer"/>
																<xs:element ref="ekap2023:BankKontoIBANNummer"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element ref="ekap2023:IndlånKontoNummer"/>
													<xs:element ref="ekap2023:KontoStartDato"/>
													<xs:element ref="ekap2023:KontoOphørDato" minOccurs="0"/>
													<xs:element ref="ekap2023:KontoValutaKode"/>
													<xs:element ref="ekap2023:IndlånKontoInddragelseSpærringDato" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Beløb" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element ref="ekap2023:RenteBeløb" minOccurs="0"/>
													<xs:element ref="ekap2023:IndlånKontoIndestående" minOccurs="0"/>
													<xs:element ref="ekap2023:RenteKalkuleretPræmieBeløb" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="KontoperiodeÅrsUltimoListe">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Kontoperiode" minOccurs="1" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element ref="ekap2023:RenteBeløb" minOccurs="0"/>
																<xs:element ref="ekap2023:KontoperiodeOpstartDato" minOccurs="0"/>
																<xs:element ref="ekap2023:KontoperiodeOphørDato" minOccurs="0"/>
																<xs:element ref="ekap2023:KontoTypeKode"/>
																<xs:element ref="ekap2023:FlereEndToKontohavereIkkeAlleOplyst"/>
																<xs:element name="KontohaverListe">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="KontohaverOplysninger" minOccurs="1" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="KontohaverValg">
																							<xs:complexType>
																								<xs:choice>
																									<xs:sequence>
																										<xs:element name="IndlændingValg">
																											<xs:complexType>
																												<xs:choice>
																													<xs:sequence>
																														<xs:element name="PersonValg">
																															<xs:complexType>
																																<xs:choice>
																																	<xs:sequence>
																																		<xs:element name="Person">
																																			<xs:complexType>
																																				<xs:sequence>
																																					<xs:element ref="ekap2023:PersonCPRNummer"/>
																																					<xs:element ref="ekap2023:VirksomhedFormandAdministrator"/>
																																				</xs:sequence>
																																			</xs:complexType>
																																		</xs:element>
																																	</xs:sequence>
																																	<xs:sequence>
																																		<xs:element name="KontohaverUdenCPRNummer">
																																			<xs:complexType>
																																				<xs:sequence>
																																					<xs:element ref="ekap2023:PersonNavnForNavn"/>
																																					<xs:element ref="ekap2023:PersonNavnEfterNavn"/>
																																					<xs:element ref="ekap2023:FødselInformationStruktur" minOccurs="0"/>
																																					<xs:element ref="ekap2023:IndberetningDanskAdresseStruktur" minOccurs="0"/>
																																				</xs:sequence>
																																			</xs:complexType>
																																		</xs:element>
																																	</xs:sequence>
																																</xs:choice>
																															</xs:complexType>
																														</xs:element>
																													</xs:sequence>
																													<xs:element ref="ekap2023:VirksomhedSENummer"/>
																												</xs:choice>
																											</xs:complexType>
																										</xs:element>
																									</xs:sequence>
																									<xs:sequence>
																										<xs:element name="ValutaudlændingValg">
																											<xs:complexType>
																												<xs:choice>
																													<xs:sequence>
																														<xs:element name="Person">
																															<xs:complexType>
																																<xs:sequence>
																																	<xs:element ref="ekap2023:PersonCPRNummer" minOccurs="0"/>
																																	<xs:element ref="ekap2023:PersonNavnForNavn"/>
																																	<xs:element ref="ekap2023:PersonNavnEfterNavn"/>
																																	<xs:element ref="ekap2023:IndberetningUdenlandskAdresseStruktur" minOccurs="0"/>
																																	<xs:element ref="ekap2023:FødselInformationStruktur" minOccurs="0"/>
																																	<xs:element ref="ekap2023:TINNummerStruktur" minOccurs="0"/>
																																	<xs:element ref="ekap2023:VirksomhedFormandAdministrator"/>
																																	<xs:element ref="ekap2023:KontohaverIdentifikationMulig"/>
																																</xs:sequence>
																															</xs:complexType>
																														</xs:element>
																													</xs:sequence>
																													<xs:sequence>
																														<xs:element name="Virksomhed">
																															<xs:complexType>
																																<xs:sequence>
																																	<xs:element ref="ekap2023:VirksomhedSENummer" minOccurs="0"/>
																																	<xs:element ref="ekap2023:VirksomhedNavnFirmaNavn"/>
																																	<xs:element ref="ekap2023:IndberetningUdenlandskAdresseStruktur" minOccurs="0"/>
																																	<xs:element ref="ekap2023:TINNummerStruktur" minOccurs="0"/>
																																	<xs:element ref="ekap2023:KontohaverIdentifikationMulig"/>
																																</xs:sequence>
																															</xs:complexType>
																														</xs:element>
																													</xs:sequence>
																												</xs:choice>
																											</xs:complexType>
																										</xs:element>
																									</xs:sequence>
																									<xs:element ref="ekap2023:KontohaverUkendt"/>
																									<xs:element ref="ekap2023:KontohaverIrrelevant"/>
																								</xs:choice>
																							</xs:complexType>
																						</xs:element>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="RentenyderListe" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="RentenyderOplysninger" minOccurs="1" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="RentenyderValg">
																							<xs:complexType>
																								<xs:choice>
																									<xs:sequence>
																										<xs:element name="IndlændingValg">
																											<xs:complexType>
																												<xs:choice>
																													<xs:sequence>
																														<xs:element name="PersonValg">
																															<xs:complexType>
																																<xs:choice>
																																	<xs:sequence>
																																		<xs:element name="Person">
																																			<xs:complexType>
																																				<xs:sequence>
																																					<xs:element ref="ekap2023:PersonCPRNummer"/>
																																					<xs:element ref="ekap2023:VirksomhedFormandAdministrator"/>
																																				</xs:sequence>
																																			</xs:complexType>
																																		</xs:element>
																																	</xs:sequence>
																																	<xs:sequence>
																																		<xs:element name="RentenyderUdenCPRNummer">
																																			<xs:complexType>
																																				<xs:sequence>
																																					<xs:element ref="ekap2023:PersonNavnForNavn"/>
																																					<xs:element ref="ekap2023:PersonNavnEfterNavn"/>
																																					<xs:element ref="ekap2023:FødselInformationStruktur" minOccurs="0"/>
																																					<xs:element ref="ekap2023:IndberetningDanskAdresseStruktur" minOccurs="0"/>
																																				</xs:sequence>
																																			</xs:complexType>
																																		</xs:element>
																																	</xs:sequence>
																																</xs:choice>
																															</xs:complexType>
																														</xs:element>
																													</xs:sequence>
																													<xs:element ref="ekap2023:VirksomhedSENummer"/>
																												</xs:choice>
																											</xs:complexType>
																										</xs:element>
																									</xs:sequence>
																									<xs:sequence>
																										<xs:element name="ValutaudlændingValg">
																											<xs:complexType>
																												<xs:choice>
																													<xs:sequence>
																														<xs:element name="Person">
																															<xs:complexType>
																																<xs:sequence>
																																	<xs:element ref="ekap2023:PersonCPRNummer" minOccurs="0"/>
																																	<xs:element ref="ekap2023:PersonNavnForNavn"/>
																																	<xs:element ref="ekap2023:PersonNavnEfterNavn"/>
																																	<xs:element ref="ekap2023:IndberetningUdenlandskAdresseStruktur" minOccurs="0"/>
																																	<xs:element ref="ekap2023:FødselInformationStruktur" minOccurs="0"/>
																																	<xs:element ref="ekap2023:TINNummerStruktur" minOccurs="0"/>
																																	<xs:element ref="ekap2023:VirksomhedFormandAdministrator"/>
																																	<xs:element ref="ekap2023:RentenyderIdentifikationMulig"/>
																																</xs:sequence>
																															</xs:complexType>
																														</xs:element>
																													</xs:sequence>
																													<xs:sequence>
																														<xs:element name="Virksomhed">
																															<xs:complexType>
																																<xs:sequence>
																																	<xs:element ref="ekap2023:VirksomhedSENummer" minOccurs="0"/>
																																	<xs:element ref="ekap2023:VirksomhedNavnFirmaNavn"/>
																																	<xs:element ref="ekap2023:IndberetningUdenlandskAdresseStruktur" minOccurs="0"/>
																																	<xs:element ref="ekap2023:TINNummerStruktur" minOccurs="0"/>
																																	<xs:element ref="ekap2023:RentenyderIdentifikationMulig"/>
																																</xs:sequence>
																															</xs:complexType>
																														</xs:element>
																													</xs:sequence>
																												</xs:choice>
																											</xs:complexType>
																										</xs:element>
																									</xs:sequence>
																									<xs:element ref="ekap2023:RentenyderUkendt"/>
																									<xs:element ref="ekap2023:RentenyderIrrelevant"/>
																								</xs:choice>
																							</xs:complexType>
																						</xs:element>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:choice>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
