xml/skat2023/view/RenteIndberetningPrioritetslaanStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:ekap2023="http://skat.dk/ekapital/2023/01/01" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/ekapital/2023/01/01" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xs:annotation>
		<xs:documentation/>
		<xs:documentation>r25782</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="../class/Indkomst.xsd"/>
	<xs:include schemaLocation="../class/Virksomhed.xsd"/>
	<xs:include schemaLocation="../class/Konto.xsd"/>
	<xs:include schemaLocation="../class/Note.xsd"/>
	<xs:include schemaLocation="../class/PantIdentifikation.xsd"/>
	<xs:include schemaLocation="../class/BestemtFastEjendom.xsd"/>
	<xs:include schemaLocation="../class/Land.xsd"/>
	<xs:include schemaLocation="../class/KontoValuta.xsd"/>
	<xs:include schemaLocation="../class/Rente.xsd"/>
	<xs:include schemaLocation="../class/Laan.xsd"/>
	<xs:include schemaLocation="../class/Kontantlaan.xsd"/>
	<xs:include schemaLocation="../operational/ReservefondUdlodning.xsd"/>
	<xs:include schemaLocation="../class/Kundeordning.xsd"/>
	<xs:include schemaLocation="../class/LaanForhold.xsd"/>
	<xs:include schemaLocation="../class/Kontoperiode.xsd"/>
	<xs:include schemaLocation="../class/KontoType.xsd"/>
	<xs:include schemaLocation="../operational/FlereEndToKontohavereIkkeAlleOplyst.xsd"/>
	<xs:include schemaLocation="../class/Ejendom.xsd"/>
	<xs:include schemaLocation="../class/Person.xsd"/>
	<xs:include schemaLocation="../class/VirksomhedFormand.xsd"/>
	<xs:include schemaLocation="../class/PersonNavn.xsd"/>
	<xs:include schemaLocation="../operational/KontohaverIdentifikationMulig.xsd"/>
	<xs:include schemaLocation="../class/VirksomhedNavn.xsd"/>
	<xs:include schemaLocation="../operational/KontohaverUkendt.xsd"/>
	<xs:include schemaLocation="../operational/KontohaverIrrelevant.xsd"/>
	<xs:include schemaLocation="../view/IndberetningIdentifikatorStrukturType.xsd"/>
	<xs:include schemaLocation="../view/IndberetningUdenlandskAdresseStrukturType.xsd"/>
	<xs:include schemaLocation="../view/FoedselInformationStrukturType.xsd"/>
	<xs:include schemaLocation="../view/TINNummerStrukturType.xsd"/>
	<xs:element name="RenteIndberetningPrioritetslånStruktur" type="ekap2023:RenteIndberetningPrioritetslånStrukturType"/>
	<xs:complexType name="RenteIndberetningPrioritetslånStrukturType">
		<xs:sequence>
			<xs:element name="Indberetningsperiode">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ekap2023:IndkomstÅr"/>
						<xs:element ref="ekap2023:IndkomstPeriodeTil" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Indberetningspligtig">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ekap2023:VirksomhedSENummer"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element ref="ekap2023:KontoID"/>
			<xs:element name="IndberetningValg">
				<xs:complexType>
					<xs:choice>
						<xs:sequence>
							<xs:element name="Invalidering">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="ekap2023:IndberetningIdentifikatorStruktur"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:sequence>
							<xs:element name="RetbarKontoOplysninger">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="ekap2023:IndberetningIdentifikatorStruktur"/>
										<xs:element ref="ekap2023:NoteTekst" minOccurs="0"/>
										<xs:element name="KontoDetaljer">
											<xs:complexType>
												<xs:sequence>
													<xs:element ref="ekap2023:PantIdentifikationNummer"/>
													<xs:element name="EjendomIdentifikationValg" minOccurs="0">
														<xs:complexType>
															<xs:choice>
																<xs:sequence>
																	<xs:element name="IndenlandskEjendom">
																		<xs:complexType>
																			<xs:sequence>
																				<xs:element ref="ekap2023:BestemtFastEjendomBFENummer"/>
																			</xs:sequence>
																		</xs:complexType>
																	</xs:element>
																</xs:sequence>
																<xs:sequence>
																	<xs:element name="UdenlandskEjendom">
																		<xs:complexType>
																			<xs:sequence>
																				<xs:element name="EjendomLand">
																					<xs:complexType>
																						<xs:sequence>
																							<xs:element ref="ekap2023:LandKode"/>
																						</xs:sequence>
																					</xs:complexType>
																				</xs:element>
																			</xs:sequence>
																		</xs:complexType>
																	</xs:element>
																</xs:sequence>
															</xs:choice>
														</xs:complexType>
													</xs:element>
													<xs:element ref="ekap2023:KontoStartDato"/>
													<xs:element ref="ekap2023:KontoOphørDato" minOccurs="0"/>
													<xs:element ref="ekap2023:KontoValutaKode"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Beløb">
											<xs:complexType>
												<xs:sequence>
													<xs:element ref="ekap2023:RenteBeløb"/>
													<xs:element ref="ekap2023:LånRestgældBeløb" minOccurs="0"/>
													<xs:element ref="ekap2023:LånKursværdi" minOccurs="0"/>
													<xs:element ref="ekap2023:KontantlånKurstab" minOccurs="0"/>
													<xs:element ref="ekap2023:ReservefondUdlodning" minOccurs="0"/>
													<xs:element ref="ekap2023:KundeordningBeløb" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="KontoperiodeValg">
											<xs:complexType>
												<xs:choice>
													<xs:sequence>
														<xs:element name="KontoperiodeÅrsUltimoListe">
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="Kontoperiode" minOccurs="1" maxOccurs="unbounded">
																		<xs:complexType>
																			<xs:sequence>
																				<xs:element ref="ekap2023:RenteBeløb"/>
																				<xs:element ref="ekap2023:KontantlånIndfriKode" minOccurs="0"/>
																				<xs:element ref="ekap2023:KontantlånKurstab" minOccurs="0"/>
																				<xs:element ref="ekap2023:ReservefondUdlodning" minOccurs="0"/>
																				<xs:element ref="ekap2023:KundeordningBeløb" minOccurs="0"/>
																				<xs:element ref="ekap2023:LånForholdRestanceMarkering"/>
																				<xs:element ref="ekap2023:KontoperiodeOpstartDato" minOccurs="0"/>
																				<xs:element ref="ekap2023:KontoperiodeOphørDato" minOccurs="0"/>
																				<xs:element ref="ekap2023:KontoTypeKode"/>
																				<xs:element ref="ekap2023:FlereEndToKontohavereIkkeAlleOplyst"/>
																				<xs:element name="KontohaverListe">
																					<xs:complexType>
																						<xs:sequence>
																							<xs:element name="KontohaverOplysninger" minOccurs="1" maxOccurs="unbounded">
																								<xs:complexType>
																									<xs:sequence>
																										<xs:element ref="ekap2023:LånForholdGældEftergivelseKode" minOccurs="0"/>
																										<xs:element name="UdenlandskEjendom" minOccurs="0">
																											<xs:complexType>
																												<xs:sequence>
																													<xs:element ref="ekap2023:EjendomNummer"/>
																												</xs:sequence>
																											</xs:complexType>
																										</xs:element>
																										<xs:element name="KontohaverValg">
																											<xs:complexType>
																												<xs:choice>
																													<xs:sequence>
																														<xs:element name="IndlændingValg">
																															<xs:complexType>
																																<xs:choice>
																																	<xs:sequence>
																																		<xs:element name="Person">
																																			<xs:complexType>
																																				<xs:sequence>
																																					<xs:element ref="ekap2023:PersonCPRNummer"/>
																																					<xs:element ref="ekap2023:VirksomhedFormandAdministrator"/>
																																				</xs:sequence>
																																			</xs:complexType>
																																		</xs:element>
																																	</xs:sequence>
																																	<xs:element ref="ekap2023:VirksomhedSENummer"/>
																																</xs:choice>
																															</xs:complexType>
																														</xs:element>
																													</xs:sequence>
																													<xs:sequence>
																														<xs:element name="ValutaudlændingValg">
																															<xs:complexType>
																																<xs:choice>
																																	<xs:sequence>
																																		<xs:element name="Person">
																																			<xs:complexType>
																																				<xs:sequence>
																																					<xs:element ref="ekap2023:PersonCPRNummer" minOccurs="0"/>
																																					<xs:element ref="ekap2023:PersonNavnForNavn"/>
																																					<xs:element ref="ekap2023:PersonNavnEfterNavn"/>
																																					<xs:element ref="ekap2023:IndberetningUdenlandskAdresseStruktur" minOccurs="0"/>
																																					<xs:element ref="ekap2023:FødselInformationStruktur" minOccurs="0"/>
																																					<xs:element ref="ekap2023:TINNummerStruktur" minOccurs="0"/>
																																					<xs:element ref="ekap2023:VirksomhedFormandAdministrator"/>
																																					<xs:element ref="ekap2023:KontohaverIdentifikationMulig"/>
																																				</xs:sequence>
																																			</xs:complexType>
																																		</xs:element>
																																	</xs:sequence>
																																	<xs:sequence>
																																		<xs:element name="Virksomhed">
																																			<xs:complexType>
																																				<xs:sequence>
																																					<xs:element ref="ekap2023:VirksomhedSENummer" minOccurs="0"/>
																																					<xs:element ref="ekap2023:VirksomhedNavnFirmaNavn"/>
																																					<xs:element ref="ekap2023:IndberetningUdenlandskAdresseStruktur" minOccurs="0"/>
																																					<xs:element ref="ekap2023:TINNummerStruktur" minOccurs="0"/>
																																					<xs:element ref="ekap2023:KontohaverIdentifikationMulig"/>
																																				</xs:sequence>
																																			</xs:complexType>
																																		</xs:element>
																																	</xs:sequence>
																																</xs:choice>
																															</xs:complexType>
																														</xs:element>
																													</xs:sequence>
																													<xs:element ref="ekap2023:KontohaverUkendt"/>
																													<xs:element ref="ekap2023:KontohaverIrrelevant"/>
																												</xs:choice>
																											</xs:complexType>
																										</xs:element>
																									</xs:sequence>
																								</xs:complexType>
																							</xs:element>
																						</xs:sequence>
																					</xs:complexType>
																				</xs:element>
																			</xs:sequence>
																		</xs:complexType>
																	</xs:element>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
													</xs:sequence>
													<xs:sequence>
														<xs:element name="KontoperiodeKvartalListe">
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="Kontoperiode" minOccurs="1" maxOccurs="unbounded">
																		<xs:complexType>
																			<xs:sequence>
																				<xs:element ref="ekap2023:RenteBeløb"/>
																				<xs:element ref="ekap2023:LånForholdRestanceMarkering"/>
																				<xs:element ref="ekap2023:KontoperiodeOpstartDato" minOccurs="0"/>
																				<xs:element ref="ekap2023:KontoperiodeOphørDato" minOccurs="0"/>
																				<xs:element ref="ekap2023:KontoTypeKode"/>
																				<xs:element name="KontohaverListe" minOccurs="0">
																					<xs:complexType>
																						<xs:sequence>
																							<xs:element name="KontohaverOplysninger" minOccurs="1" maxOccurs="2">
																								<xs:complexType>
																									<xs:sequence>
																										<xs:element name="UdenlandskEjendom" minOccurs="0">
																											<xs:complexType>
																												<xs:sequence>
																													<xs:element ref="ekap2023:EjendomNummer"/>
																												</xs:sequence>
																											</xs:complexType>
																										</xs:element>
																										<xs:element name="KontohaverValg">
																											<xs:complexType>
																												<xs:choice>
																													<xs:sequence>
																														<xs:element name="IndlændingValg">
																															<xs:complexType>
																																<xs:choice>
																																	<xs:element ref="ekap2023:PersonCPRNummer"/>
																																	<xs:element ref="ekap2023:VirksomhedSENummer"/>
																																</xs:choice>
																															</xs:complexType>
																														</xs:element>
																													</xs:sequence>
																													<xs:sequence>
																														<xs:element name="Valutaudlænding">
																															<xs:complexType>
																																<xs:sequence>
																																	<xs:element ref="ekap2023:PersonCPRNummer"/>
																																</xs:sequence>
																															</xs:complexType>
																														</xs:element>
																													</xs:sequence>
																													<xs:element ref="ekap2023:KontohaverUkendt"/>
																													<xs:element ref="ekap2023:KontohaverIrrelevant"/>
																												</xs:choice>
																											</xs:complexType>
																										</xs:element>
																									</xs:sequence>
																								</xs:complexType>
																							</xs:element>
																						</xs:sequence>
																					</xs:complexType>
																				</xs:element>
																			</xs:sequence>
																		</xs:complexType>
																	</xs:element>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
													</xs:sequence>
												</xs:choice>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:choice>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
