xml/skat2019/view/RenteIndberetningPantebreveStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:ekap2019="http://skat.dk/ekapital/2019/01/01" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/ekapital/2019/01/01" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xs:annotation>
		<xs:documentation/>
		<xs:documentation>r19536</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="../class/Indkomst.xsd"/>
	<xs:include schemaLocation="../class/Virksomhed.xsd"/>
	<xs:include schemaLocation="../class/Konto.xsd"/>
	<xs:include schemaLocation="../class/Note.xsd"/>
	<xs:include schemaLocation="../class/Bank.xsd"/>
	<xs:include schemaLocation="../class/PantIdentifikation.xsd"/>
	<xs:include schemaLocation="../class/Deponering.xsd"/>
	<xs:include schemaLocation="../class/KontoValuta.xsd"/>
	<xs:include schemaLocation="../class/Rente.xsd"/>
	<xs:include schemaLocation="../class/Laan.xsd"/>
	<xs:include schemaLocation="../class/Kontoperiode.xsd"/>
	<xs:include schemaLocation="../operational/FlereEndToKontohavereIkkeAlleOplyst.xsd"/>
	<xs:include schemaLocation="../class/LaanForhold.xsd"/>
	<xs:include schemaLocation="../class/Person.xsd"/>
	<xs:include schemaLocation="../operational/VirksomhedFormandAdministrator.xsd"/>
	<xs:include schemaLocation="../class/PersonNavn.xsd"/>
	<xs:include schemaLocation="../operational/KontohaverIdentifikationMulig.xsd"/>
	<xs:include schemaLocation="../class/VirksomhedNavn.xsd"/>
	<xs:include schemaLocation="../operational/KontohaverUkendt.xsd"/>
	<xs:include schemaLocation="../operational/KontohaverIrrelevant.xsd"/>
	<xs:include schemaLocation="../class/PantebrevDepot.xsd"/>
	<xs:include schemaLocation="../operational/RentenyderIdentifikationMulig.xsd"/>
	<xs:include schemaLocation="../operational/RentenyderUkendt.xsd"/>
	<xs:include schemaLocation="../operational/RentenyderIrrelevant.xsd"/>
	<xs:include schemaLocation="../view/IndberetningIdentifikatorStrukturType.xsd"/>
	<xs:include schemaLocation="../view/IndberetningUdenlandskAdresseStrukturType.xsd"/>
	<xs:include schemaLocation="../view/FoedselInformationStrukturType.xsd"/>
	<xs:include schemaLocation="../view/TINNummerStrukturType.xsd"/>
	<xs:element name="RenteIndberetningPantebreveStruktur" type="ekap2019:RenteIndberetningPantebreveStrukturType"/>
	<xs:complexType name="RenteIndberetningPantebreveStrukturType">
		<xs:sequence>
			<xs:element name="Indberetningsperiode">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ekap2019:IndkomstÅr"/>
						<xs:element ref="ekap2019:IndkomstPeriodeTil" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Indberetningspligtig">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ekap2019:VirksomhedSENummer"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element ref="ekap2019:KontoID"/>
			<xs:element name="IndberetningValg">
				<xs:complexType>
					<xs:choice>
						<xs:sequence>
							<xs:element name="Invalidering">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="ekap2019:IndberetningIdentifikatorStruktur"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:sequence>
							<xs:element name="RetbarKontoOplysninger">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="ekap2019:IndberetningIdentifikatorStruktur"/>
										<xs:element ref="ekap2019:NoteTekst" minOccurs="0"/>
										<xs:element name="KontoDetaljer">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Pengeinstitut" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element ref="ekap2019:BankRegistreringsnummer"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element ref="ekap2019:PantIdentifikationNummer"/>
													<xs:element ref="ekap2019:DeponeringStartDato"/>
													<xs:element ref="ekap2019:DeponeringOphørDato" minOccurs="0"/>
													<xs:element ref="ekap2019:KontoValutaKode"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Beløb">
											<xs:complexType>
												<xs:sequence>
													<xs:element ref="ekap2019:RenteBeløb"/>
													<xs:element ref="ekap2019:LånRestgældBeløb" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="KontoperiodeValg">
											<xs:complexType>
												<xs:choice>
													<xs:sequence>
														<xs:element name="KontoperiodeÅrsUltimoListe">
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="LånTager">
																		<xs:complexType>
																			<xs:sequence>
																				<xs:element name="KontoperiodeListe">
																					<xs:complexType>
																						<xs:sequence>
																							<xs:element name="Kontoperiode" minOccurs="1" maxOccurs="unbounded">
																								<xs:complexType>
																									<xs:sequence>
																										<xs:element ref="ekap2019:RenteBeløb"/>
																										<xs:element ref="ekap2019:KontoperiodeOpstartDato" minOccurs="0"/>
																										<xs:element ref="ekap2019:KontoperiodeOphørDato" minOccurs="0"/>
																										<xs:element ref="ekap2019:FlereEndToKontohavereIkkeAlleOplyst"/>
																										<xs:element name="KontohaverListe">
																											<xs:complexType>
																												<xs:sequence>
																													<xs:element name="KontohaverOplysninger" minOccurs="1" maxOccurs="unbounded">
																														<xs:complexType>
																															<xs:sequence>
																																<xs:element ref="ekap2019:LånForholdGældEftergivelseKode" minOccurs="0"/>
																																<xs:element name="KontohaverValg">
																																	<xs:complexType>
																																		<xs:choice>
																																			<xs:sequence>
																																				<xs:element name="IndlændingValg">
																																					<xs:complexType>
																																						<xs:choice>
																																							<xs:sequence>
																																								<xs:element name="Person">
																																									<xs:complexType>
																																										<xs:sequence>
																																											<xs:element ref="ekap2019:PersonCPRNummer"/>
																																											<xs:element ref="ekap2019:VirksomhedFormandAdministrator"/>
																																										</xs:sequence>
																																									</xs:complexType>
																																								</xs:element>
																																							</xs:sequence>
																																							<xs:element ref="ekap2019:VirksomhedSENummer"/>
																																						</xs:choice>
																																					</xs:complexType>
																																				</xs:element>
																																			</xs:sequence>
																																			<xs:sequence>
																																				<xs:element name="ValutaudlændingValg">
																																					<xs:complexType>
																																						<xs:choice>
																																							<xs:sequence>
																																								<xs:element name="Person">
																																									<xs:complexType>
																																										<xs:sequence>
																																											<xs:element ref="ekap2019:PersonCPRNummer" minOccurs="0"/>
																																											<xs:element ref="ekap2019:PersonNavnForNavn"/>
																																											<xs:element ref="ekap2019:PersonNavnEfterNavn"/>
																																											<xs:element ref="ekap2019:IndberetningUdenlandskAdresseStruktur" minOccurs="0"/>
																																											<xs:element ref="ekap2019:FødselInformationStruktur" minOccurs="0"/>
																																											<xs:element ref="ekap2019:TINNummerStruktur" minOccurs="0"/>
																																											<xs:element ref="ekap2019:VirksomhedFormandAdministrator"/>
																																											<xs:element ref="ekap2019:KontohaverIdentifikationMulig"/>
																																										</xs:sequence>
																																									</xs:complexType>
																																								</xs:element>
																																							</xs:sequence>
																																							<xs:sequence>
																																								<xs:element name="Virksomhed">
																																									<xs:complexType>
																																										<xs:sequence>
																																											<xs:element ref="ekap2019:VirksomhedSENummer" minOccurs="0"/>
																																											<xs:element ref="ekap2019:VirksomhedNavnFirmaNavn"/>
																																											<xs:element ref="ekap2019:IndberetningUdenlandskAdresseStruktur" minOccurs="0"/>
																																											<xs:element ref="ekap2019:TINNummerStruktur" minOccurs="0"/>
																																											<xs:element ref="ekap2019:KontohaverIdentifikationMulig"/>
																																										</xs:sequence>
																																									</xs:complexType>
																																								</xs:element>
																																							</xs:sequence>
																																						</xs:choice>
																																					</xs:complexType>
																																				</xs:element>
																																			</xs:sequence>
																																			<xs:element ref="ekap2019:KontohaverUkendt"/>
																																			<xs:element ref="ekap2019:KontohaverIrrelevant"/>
																																		</xs:choice>
																																	</xs:complexType>
																																</xs:element>
																															</xs:sequence>
																														</xs:complexType>
																													</xs:element>
																												</xs:sequence>
																											</xs:complexType>
																										</xs:element>
																									</xs:sequence>
																								</xs:complexType>
																							</xs:element>
																						</xs:sequence>
																					</xs:complexType>
																				</xs:element>
																			</xs:sequence>
																		</xs:complexType>
																	</xs:element>
																	<xs:element name="Depothaver">
																		<xs:complexType>
																			<xs:sequence>
																				<xs:element name="KontoperiodeListe">
																					<xs:complexType>
																						<xs:sequence>
																							<xs:element name="Kontoperiode" minOccurs="1" maxOccurs="unbounded">
																								<xs:complexType>
																									<xs:sequence>
																										<xs:element ref="ekap2019:RenteBeløb"/>
																										<xs:element ref="ekap2019:PantebrevDepotID"/>
																										<xs:element ref="ekap2019:PantebrevDepotNummer"/>
																										<xs:element ref="ekap2019:KontoperiodeOpstartDato" minOccurs="0"/>
																										<xs:element ref="ekap2019:KontoperiodeOphørDato" minOccurs="0"/>
																										<xs:element ref="ekap2019:FlereEndToKontohavereIkkeAlleOplyst"/>
																										<xs:element name="KontohaverListe">
																											<xs:complexType>
																												<xs:sequence>
																													<xs:element name="KontohaverOplysninger" minOccurs="1" maxOccurs="unbounded">
																														<xs:complexType>
																															<xs:sequence>
																																<xs:element name="KontohaverValg">
																																	<xs:complexType>
																																		<xs:choice>
																																			<xs:sequence>
																																				<xs:element name="IndlændingValg">
																																					<xs:complexType>
																																						<xs:choice>
																																							<xs:sequence>
																																								<xs:element name="Person">
																																									<xs:complexType>
																																										<xs:sequence>
																																											<xs:element ref="ekap2019:PersonCPRNummer"/>
																																											<xs:element ref="ekap2019:VirksomhedFormandAdministrator"/>
																																										</xs:sequence>
																																									</xs:complexType>
																																								</xs:element>
																																							</xs:sequence>
																																							<xs:element ref="ekap2019:VirksomhedSENummer"/>
																																						</xs:choice>
																																					</xs:complexType>
																																				</xs:element>
																																			</xs:sequence>
																																			<xs:sequence>
																																				<xs:element name="ValutaudlændingValg">
																																					<xs:complexType>
																																						<xs:choice>
																																							<xs:sequence>
																																								<xs:element name="Person">
																																									<xs:complexType>
																																										<xs:sequence>
																																											<xs:element ref="ekap2019:PersonCPRNummer" minOccurs="0"/>
																																											<xs:element ref="ekap2019:PersonNavnForNavn"/>
																																											<xs:element ref="ekap2019:PersonNavnEfterNavn"/>
																																											<xs:element ref="ekap2019:IndberetningUdenlandskAdresseStruktur" minOccurs="0"/>
																																											<xs:element ref="ekap2019:FødselInformationStruktur" minOccurs="0"/>
																																											<xs:element ref="ekap2019:TINNummerStruktur" minOccurs="0"/>
																																											<xs:element ref="ekap2019:VirksomhedFormandAdministrator"/>
																																											<xs:element ref="ekap2019:KontohaverIdentifikationMulig"/>
																																										</xs:sequence>
																																									</xs:complexType>
																																								</xs:element>
																																							</xs:sequence>
																																							<xs:sequence>
																																								<xs:element name="Virksomhed">
																																									<xs:complexType>
																																										<xs:sequence>
																																											<xs:element ref="ekap2019:VirksomhedSENummer" minOccurs="0"/>
																																											<xs:element ref="ekap2019:VirksomhedNavnFirmaNavn"/>
																																											<xs:element ref="ekap2019:IndberetningUdenlandskAdresseStruktur" minOccurs="0"/>
																																											<xs:element ref="ekap2019:TINNummerStruktur" minOccurs="0"/>
																																											<xs:element ref="ekap2019:KontohaverIdentifikationMulig"/>
																																										</xs:sequence>
																																									</xs:complexType>
																																								</xs:element>
																																							</xs:sequence>
																																						</xs:choice>
																																					</xs:complexType>
																																				</xs:element>
																																			</xs:sequence>
																																			<xs:element ref="ekap2019:KontohaverUkendt"/>
																																			<xs:element ref="ekap2019:KontohaverIrrelevant"/>
																																		</xs:choice>
																																	</xs:complexType>
																																</xs:element>
																															</xs:sequence>
																														</xs:complexType>
																													</xs:element>
																												</xs:sequence>
																											</xs:complexType>
																										</xs:element>
																										<xs:element name="RentenyderListe">
																											<xs:complexType>
																												<xs:sequence>
																													<xs:element name="RentenyderOplysninger" minOccurs="1" maxOccurs="unbounded">
																														<xs:complexType>
																															<xs:sequence>
																																<xs:element name="RentenyderValg">
																																	<xs:complexType>
																																		<xs:choice>
																																			<xs:sequence>
																																				<xs:element name="IndlændingValg">
																																					<xs:complexType>
																																						<xs:choice>
																																							<xs:sequence>
																																								<xs:element name="Person">
																																									<xs:complexType>
																																										<xs:sequence>
																																											<xs:element ref="ekap2019:PersonCPRNummer"/>
																																											<xs:element ref="ekap2019:VirksomhedFormandAdministrator"/>
																																										</xs:sequence>
																																									</xs:complexType>
																																								</xs:element>
																																							</xs:sequence>
																																							<xs:element ref="ekap2019:VirksomhedSENummer"/>
																																						</xs:choice>
																																					</xs:complexType>
																																				</xs:element>
																																			</xs:sequence>
																																			<xs:sequence>
																																				<xs:element name="ValutaudlændingValg">
																																					<xs:complexType>
																																						<xs:choice>
																																							<xs:sequence>
																																								<xs:element name="Person">
																																									<xs:complexType>
																																										<xs:sequence>
																																											<xs:element ref="ekap2019:PersonCPRNummer" minOccurs="0"/>
																																											<xs:element ref="ekap2019:PersonNavnForNavn"/>
																																											<xs:element ref="ekap2019:PersonNavnEfterNavn"/>
																																											<xs:element ref="ekap2019:IndberetningUdenlandskAdresseStruktur" minOccurs="0"/>
																																											<xs:element ref="ekap2019:FødselInformationStruktur" minOccurs="0"/>
																																											<xs:element ref="ekap2019:TINNummerStruktur" minOccurs="0"/>
																																											<xs:element ref="ekap2019:VirksomhedFormandAdministrator"/>
																																											<xs:element ref="ekap2019:RentenyderIdentifikationMulig"/>
																																										</xs:sequence>
																																									</xs:complexType>
																																								</xs:element>
																																							</xs:sequence>
																																							<xs:sequence>
																																								<xs:element name="Virksomhed">
																																									<xs:complexType>
																																										<xs:sequence>
																																											<xs:element ref="ekap2019:VirksomhedSENummer" minOccurs="0"/>
																																											<xs:element ref="ekap2019:VirksomhedNavnFirmaNavn"/>
																																											<xs:element ref="ekap2019:IndberetningUdenlandskAdresseStruktur" minOccurs="0"/>
																																											<xs:element ref="ekap2019:TINNummerStruktur" minOccurs="0"/>
																																											<xs:element ref="ekap2019:RentenyderIdentifikationMulig"/>
																																										</xs:sequence>
																																									</xs:complexType>
																																								</xs:element>
																																							</xs:sequence>
																																						</xs:choice>
																																					</xs:complexType>
																																				</xs:element>
																																			</xs:sequence>
																																			<xs:element ref="ekap2019:RentenyderUkendt"/>
																																			<xs:element ref="ekap2019:RentenyderIrrelevant"/>
																																		</xs:choice>
																																	</xs:complexType>
																																</xs:element>
																															</xs:sequence>
																														</xs:complexType>
																													</xs:element>
																												</xs:sequence>
																											</xs:complexType>
																										</xs:element>
																									</xs:sequence>
																								</xs:complexType>
																							</xs:element>
																						</xs:sequence>
																					</xs:complexType>
																				</xs:element>
																			</xs:sequence>
																		</xs:complexType>
																	</xs:element>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
													</xs:sequence>
													<xs:sequence>
														<xs:element name="KontoperiodeKvartalListe">
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="LånTager">
																		<xs:complexType>
																			<xs:sequence>
																				<xs:element name="KontoperiodeListe">
																					<xs:complexType>
																						<xs:sequence>
																							<xs:element name="Kontoperiode" minOccurs="1" maxOccurs="unbounded">
																								<xs:complexType>
																									<xs:sequence>
																										<xs:element ref="ekap2019:RenteBeløb"/>
																										<xs:element ref="ekap2019:KontoperiodeOpstartDato" minOccurs="0"/>
																										<xs:element ref="ekap2019:KontoperiodeOphørDato" minOccurs="0"/>
																										<xs:element name="KontohaverListe" minOccurs="0">
																											<xs:complexType>
																												<xs:sequence>
																													<xs:element name="KontohaverOplysninger" minOccurs="1" maxOccurs="2">
																														<xs:complexType>
																															<xs:sequence>
																																<xs:element name="KontohaverValg">
																																	<xs:complexType>
																																		<xs:choice>
																																			<xs:sequence>
																																				<xs:element name="IndlændingValg">
																																					<xs:complexType>
																																						<xs:choice>
																																							<xs:element ref="ekap2019:PersonCPRNummer"/>
																																							<xs:element ref="ekap2019:VirksomhedSENummer"/>
																																						</xs:choice>
																																					</xs:complexType>
																																				</xs:element>
																																			</xs:sequence>
																																			<xs:sequence>
																																				<xs:element name="Valutaudlænding">
																																					<xs:complexType>
																																						<xs:sequence>
																																							<xs:element ref="ekap2019:PersonCPRNummer"/>
																																						</xs:sequence>
																																					</xs:complexType>
																																				</xs:element>
																																			</xs:sequence>
																																			<xs:element ref="ekap2019:KontohaverUkendt"/>
																																			<xs:element ref="ekap2019:KontohaverIrrelevant"/>
																																		</xs:choice>
																																	</xs:complexType>
																																</xs:element>
																															</xs:sequence>
																														</xs:complexType>
																													</xs:element>
																												</xs:sequence>
																											</xs:complexType>
																										</xs:element>
																									</xs:sequence>
																								</xs:complexType>
																							</xs:element>
																						</xs:sequence>
																					</xs:complexType>
																				</xs:element>
																			</xs:sequence>
																		</xs:complexType>
																	</xs:element>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
													</xs:sequence>
												</xs:choice>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:choice>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
