xml/skat2024/view/RenteIndberetningPrioritetslaanAfvigelseStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:ekap2024="http://skat.dk/ekapital/2024/01/01" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/ekapital/2024/01/01" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xs:annotation>
		<xs:documentation/>
		<xs:documentation>r26782</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="../operational/SumAfvigelseProcent.xsd"/>
	<xs:include schemaLocation="../operational/SumAfvigelseAntal.xsd"/>
	<xs:include schemaLocation="../class/Rente.xsd"/>
	<xs:include schemaLocation="../operational/LaanRestgaeldBeloebSummering.xsd"/>
	<xs:include schemaLocation="../operational/LaanKursvaerdiSummering.xsd"/>
	<xs:include schemaLocation="../operational/KontantlaanKurstabSummering.xsd"/>
	<xs:include schemaLocation="../operational/ReservefondUdlodningSummering.xsd"/>
	<xs:include schemaLocation="../class/Kundeordning.xsd"/>
	<xs:element name="RenteIndberetningPrioritetslånAfvigelseStruktur" type="ekap2024:RenteIndberetningPrioritetslånAfvigelseStrukturType"/>
	<xs:complexType name="RenteIndberetningPrioritetslånAfvigelseStrukturType">
		<xs:sequence>
			<xs:element name="AntalKonti">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Total">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="ekap2024:SumAfvigelseProcent" minOccurs="0"/>
									<xs:element ref="ekap2024:SumAfvigelseAntal"/>
									<xs:element name="LånForholdRestance">
										<xs:complexType>
											<xs:sequence>
												<xs:element ref="ekap2024:SumAfvigelseProcent" minOccurs="0"/>
												<xs:element ref="ekap2024:SumAfvigelseAntal"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="GodkendtKonto">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="ekap2024:SumAfvigelseProcent" minOccurs="0"/>
									<xs:element ref="ekap2024:SumAfvigelseAntal"/>
									<xs:element name="LånForholdRestance">
										<xs:complexType>
											<xs:sequence>
												<xs:element ref="ekap2024:SumAfvigelseProcent" minOccurs="0"/>
												<xs:element ref="ekap2024:SumAfvigelseAntal"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="GodkendtKontoAdvis">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="ekap2024:SumAfvigelseProcent" minOccurs="0"/>
									<xs:element ref="ekap2024:SumAfvigelseAntal"/>
									<xs:element name="LånForholdRestance">
										<xs:complexType>
											<xs:sequence>
												<xs:element ref="ekap2024:SumAfvigelseProcent" minOccurs="0"/>
												<xs:element ref="ekap2024:SumAfvigelseAntal"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="FejlKontohaver">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="ekap2024:SumAfvigelseProcent" minOccurs="0"/>
									<xs:element ref="ekap2024:SumAfvigelseAntal"/>
									<xs:element name="LånForholdRestance">
										<xs:complexType>
											<xs:sequence>
												<xs:element ref="ekap2024:SumAfvigelseProcent" minOccurs="0"/>
												<xs:element ref="ekap2024:SumAfvigelseAntal"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="FejlKonto">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="ekap2024:SumAfvigelseProcent" minOccurs="0"/>
									<xs:element ref="ekap2024:SumAfvigelseAntal"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="FejlIndberetning">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="ekap2024:SumAfvigelseProcent" minOccurs="0"/>
									<xs:element ref="ekap2024:SumAfvigelseAntal"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="FejlFormat">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="ekap2024:SumAfvigelseProcent" minOccurs="0"/>
									<xs:element ref="ekap2024:SumAfvigelseAntal"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Invalideret">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="ekap2024:SumAfvigelseProcent" minOccurs="0"/>
									<xs:element ref="ekap2024:SumAfvigelseAntal"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AnvendtTotalSummering">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Total" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="RenteBeløb">
										<xs:complexType>
											<xs:sequence>
												<xs:element ref="ekap2024:SumAfvigelseProcent" minOccurs="0"/>
												<xs:element ref="ekap2024:RenteBeløbSummering"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="LånRestgældBeløb" minOccurs="0">
										<xs:complexType>
											<xs:sequence>
												<xs:element ref="ekap2024:SumAfvigelseProcent" minOccurs="0"/>
												<xs:element ref="ekap2024:LånRestgældBeløbSummering"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="LånKursværdi" minOccurs="0">
										<xs:complexType>
											<xs:sequence>
												<xs:element ref="ekap2024:SumAfvigelseProcent" minOccurs="0"/>
												<xs:element ref="ekap2024:LånKursværdiSummering"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="KontantlånKurstab" minOccurs="0">
										<xs:complexType>
											<xs:sequence>
												<xs:element ref="ekap2024:SumAfvigelseProcent" minOccurs="0"/>
												<xs:element ref="ekap2024:KontantlånKurstabSummering"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="ReservefondUdlodning" minOccurs="0">
										<xs:complexType>
											<xs:sequence>
												<xs:element ref="ekap2024:SumAfvigelseProcent" minOccurs="0"/>
												<xs:element ref="ekap2024:ReservefondUdlodningSummering"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="KundeordningBeløb" minOccurs="0">
										<xs:complexType>
											<xs:sequence>
												<xs:element ref="ekap2024:SumAfvigelseProcent" minOccurs="0"/>
												<xs:element ref="ekap2024:KundeordningBeløbSummering"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="GodkendtKontoOgAdvis" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="RenteBeløb">
										<xs:complexType>
											<xs:sequence>
												<xs:element ref="ekap2024:SumAfvigelseProcent" minOccurs="0"/>
												<xs:element ref="ekap2024:RenteBeløbSummering"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="LånRestgældBeløb" minOccurs="0">
										<xs:complexType>
											<xs:sequence>
												<xs:element ref="ekap2024:SumAfvigelseProcent" minOccurs="0"/>
												<xs:element ref="ekap2024:LånRestgældBeløbSummering"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="LånKursværdi" minOccurs="0">
										<xs:complexType>
											<xs:sequence>
												<xs:element ref="ekap2024:SumAfvigelseProcent" minOccurs="0"/>
												<xs:element ref="ekap2024:LånKursværdiSummering"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="KontantlånKurstab" minOccurs="0">
										<xs:complexType>
											<xs:sequence>
												<xs:element ref="ekap2024:SumAfvigelseProcent" minOccurs="0"/>
												<xs:element ref="ekap2024:KontantlånKurstabSummering"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="ReservefondUdlodning" minOccurs="0">
										<xs:complexType>
											<xs:sequence>
												<xs:element ref="ekap2024:SumAfvigelseProcent" minOccurs="0"/>
												<xs:element ref="ekap2024:ReservefondUdlodningSummering"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="KundeordningBeløb" minOccurs="0">
										<xs:complexType>
											<xs:sequence>
												<xs:element ref="ekap2024:SumAfvigelseProcent" minOccurs="0"/>
												<xs:element ref="ekap2024:KundeordningBeløbSummering"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="FejlKontohaver" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="RenteBeløb">
										<xs:complexType>
											<xs:sequence>
												<xs:element ref="ekap2024:SumAfvigelseProcent" minOccurs="0"/>
												<xs:element ref="ekap2024:RenteBeløbSummering"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="LånRestgældBeløb" minOccurs="0">
										<xs:complexType>
											<xs:sequence>
												<xs:element ref="ekap2024:SumAfvigelseProcent" minOccurs="0"/>
												<xs:element ref="ekap2024:LånRestgældBeløbSummering"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="LånKursværdi" minOccurs="0">
										<xs:complexType>
											<xs:sequence>
												<xs:element ref="ekap2024:SumAfvigelseProcent" minOccurs="0"/>
												<xs:element ref="ekap2024:LånKursværdiSummering"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="KontantlånKurstab" minOccurs="0">
										<xs:complexType>
											<xs:sequence>
												<xs:element ref="ekap2024:SumAfvigelseProcent" minOccurs="0"/>
												<xs:element ref="ekap2024:KontantlånKurstabSummering"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="ReservefondUdlodning" minOccurs="0">
										<xs:complexType>
											<xs:sequence>
												<xs:element ref="ekap2024:SumAfvigelseProcent" minOccurs="0"/>
												<xs:element ref="ekap2024:ReservefondUdlodningSummering"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="KundeordningBeløb" minOccurs="0">
										<xs:complexType>
											<xs:sequence>
												<xs:element ref="ekap2024:SumAfvigelseProcent" minOccurs="0"/>
												<xs:element ref="ekap2024:KundeordningBeløbSummering"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="FejlKonto" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="RenteBeløb">
										<xs:complexType>
											<xs:sequence>
												<xs:element ref="ekap2024:SumAfvigelseProcent" minOccurs="0"/>
												<xs:element ref="ekap2024:RenteBeløbSummering"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="LånRestgældBeløb" minOccurs="0">
										<xs:complexType>
											<xs:sequence>
												<xs:element ref="ekap2024:SumAfvigelseProcent" minOccurs="0"/>
												<xs:element ref="ekap2024:LånRestgældBeløbSummering"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="LånKursværdi" minOccurs="0">
										<xs:complexType>
											<xs:sequence>
												<xs:element ref="ekap2024:SumAfvigelseProcent" minOccurs="0"/>
												<xs:element ref="ekap2024:LånKursværdiSummering"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="KontantlånKurstab" minOccurs="0">
										<xs:complexType>
											<xs:sequence>
												<xs:element ref="ekap2024:SumAfvigelseProcent" minOccurs="0"/>
												<xs:element ref="ekap2024:KontantlånKurstabSummering"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="ReservefondUdlodning" minOccurs="0">
										<xs:complexType>
											<xs:sequence>
												<xs:element ref="ekap2024:SumAfvigelseProcent" minOccurs="0"/>
												<xs:element ref="ekap2024:ReservefondUdlodningSummering"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="KundeordningBeløb" minOccurs="0">
										<xs:complexType>
											<xs:sequence>
												<xs:element ref="ekap2024:SumAfvigelseProcent" minOccurs="0"/>
												<xs:element ref="ekap2024:KundeordningBeløbSummering"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
