xml/skat2016/view/KontohaverListeStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
      <xs:schema xmlns:skat2012="http://skat.dk/begrebsmodel/2012/01/01/"
                 xmlns:xs="http://www.w3.org/2001/XMLSchema"
                 targetNamespace="http://skat.dk/begrebsmodel/2012/01/01/"
                 elementFormDefault="qualified"
                 attributeFormDefault="unqualified"
                 version="1.0">
         
         <xs:annotation>
            <xs:documentation/>
            <xs:documentation>r14929</xs:documentation>
         </xs:annotation>
         <xs:include schemaLocation="../class/Rente.xsd"/>
         <xs:include schemaLocation="../class/Ejerskifte.xsd"/>
         <xs:include schemaLocation="../class/KontoEjerstatus.xsd"/>
         <xs:include schemaLocation="../class/Person.xsd"/>
         <xs:include schemaLocation="../class/PersonNavn.xsd"/>
				     
				     
         <xs:include schemaLocation="../class/Virksomhed.xsd"/>
				     
				     
				     
         <xs:include schemaLocation="../class/VirksomhedNavn.xsd"/>
				     
				     
         <xs:include schemaLocation="../class/Kontohaver.xsd"/>
         <xs:include schemaLocation="../view/FoedselInformationStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/IndberetningDanskAdresseStrukturType.xsd"/>
				     
         <xs:include schemaLocation="../view/IndberetningUdenlandskAdresseStrukturType.xsd"/>
				     
				     
         <xs:include schemaLocation="../view/TINNummerStrukturType.xsd"/>
				     
				     
				     
         <xs:element name="KontohaverListeStruktur" type="skat2012:KontohaverListeStrukturType"/>
         <xs:complexType name="KontohaverListeStrukturType">
         
         
         
         
         
         
         
         
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
               <xs:sequence>
               <xs:element name="KontohaverPeriodeListe">
                  <xs:complexType>
                     <xs:sequence>

                        <xs:element name="KontohaverPeriode" minOccurs="1" maxOccurs="unbounded">
                           <xs:complexType>
                              <xs:sequence>
                                 <xs:element ref="skat2012:RenteBeløb"/>

                                 <xs:element ref="skat2012:EjerskifteOpstartDato" minOccurs="0"/>



                                 <xs:element ref="skat2012:EjerskifteOphørDato" minOccurs="0"/>

                                 <xs:element ref="skat2012:KontoEjerstatusAntalKontohavere"/>
                                 <xs:element name="KontohaverIndkomstPeriodeValg">
                                    <xs:complexType>
                                       <xs:choice>
                                          <xs:sequence>
                                             <xs:element name="IndberetningÅrsUltimoKontohaverListe">
                                                <xs:complexType>
                                                   <xs:sequence>

                                                      <xs:element name="KontohaverOplysninger" minOccurs="1" maxOccurs="unbounded">
                                                         <xs:complexType>
                                                            <xs:sequence>
                                                               <xs:element name="KontohaverValg">
                                                                  <xs:complexType>
                                                                     <xs:choice>
                                                                        <xs:sequence>
                                                                           <xs:element name="IndlændingValg">
                                                                              <xs:complexType>
                                                                                 <xs:choice>
                                                                                    <xs:sequence>
                                                                                       <xs:element name="PersonValg">
                                                                                          <xs:complexType>
                                                                                             <xs:choice>
                                                                                                <xs:element ref="skat2012:PersonCPRNummer"/>
				
				                                                                                            <xs:sequence>
				
                                                                                                   <xs:element name="KontohaverUdenCPRNummer">
                                                                                                      <xs:complexType>
                                                                                                         <xs:sequence>
                                                                                                            <xs:element ref="skat2012:PersonNavnForNavn"/>
                  
                                                                                                            <xs:element ref="skat2012:PersonNavnEfterNavn"/>
                  
                                                                                                            <xs:element ref="skat2012:FødselInformationStruktur"/>
                  
                                                                                                            <xs:element ref="skat2012:IndberetningDanskAdresseStruktur"/>
                                                                                                         </xs:sequence>
                                                                                                      </xs:complexType>
                                                                                                   </xs:element>
                                                                                                </xs:sequence>
                                                                                             </xs:choice>
                                                                                          </xs:complexType>
                                                                                       </xs:element>
				
				                                                                                </xs:sequence>
				                                                                                <xs:element ref="skat2012:VirksomhedSENummer"/>
                                                                                 </xs:choice>
                                                                              </xs:complexType>
                                                                           </xs:element>
				
				                                                                    </xs:sequence>
                                                                        <xs:sequence>
				
                                                                           <xs:element name="ValutariskUdlændingValg">
                                                                              <xs:complexType>
                                                                                 <xs:choice>
                                                                                    <xs:sequence>
                                                                                       <xs:element name="Person">
                                                                                          <xs:complexType>
                                                                                             <xs:sequence>

                                                                                                <xs:element ref="skat2012:PersonCPRNummer" minOccurs="0"/>

                                                                                                <xs:element ref="skat2012:PersonNavnForNavn"/>
                  
                                                                                                <xs:element ref="skat2012:PersonNavnEfterNavn"/>
                  
                                                                                                <xs:element ref="skat2012:IndberetningUdenlandskAdresseStruktur"/>
                  
                                                                                                <xs:element ref="skat2012:FødselInformationStruktur"/>

                                                                                                <xs:element ref="skat2012:TINNummerStruktur" minOccurs="0"/>


                                                                                             </xs:sequence>
                                                                                          </xs:complexType>
                                                                                       </xs:element>
				
				                                                                                </xs:sequence>
                                                                                    <xs:sequence>
				
                                                                                       <xs:element name="Virksomhed">
                                                                                          <xs:complexType>
                                                                                             <xs:sequence>

                                                                                                <xs:element ref="skat2012:VirksomhedSENummer" minOccurs="0"/>

                                                                                                <xs:element ref="skat2012:VirksomhedNavnFirmaNavn"/>
                  
                                                                                                <xs:element ref="skat2012:IndberetningUdenlandskAdresseStruktur"/>

                                                                                                <xs:element ref="skat2012:TINNummerStruktur" minOccurs="0"/>


                                                                                             </xs:sequence>
                                                                                          </xs:complexType>
                                                                                       </xs:element>
                                                                                    </xs:sequence>
                                                                                 </xs:choice>
                                                                              </xs:complexType>
                                                                           </xs:element>
				
				                                                                    </xs:sequence>
				                                                                    <xs:element ref="skat2012:KontohaverUkendt"/>
                                                                     </xs:choice>
                                                                  </xs:complexType>
                                                               </xs:element>
                                                            </xs:sequence>
                                                         </xs:complexType>
                                                      </xs:element>
                                                   </xs:sequence>
                                                </xs:complexType>
                                             </xs:element>

				
				                                      </xs:sequence>
                                          <xs:sequence>
				
                                             <xs:element name="IndberetningKvartalKontohaverListe">
                                                <xs:complexType>
                                                   <xs:sequence>

                                                      <xs:element name="KontohaverOplysninger" minOccurs="1" maxOccurs="unbounded">
                                                         <xs:complexType>
                                                            <xs:sequence>
                                                               <xs:element name="KontohaverValg">
                                                                  <xs:complexType>
                                                                     <xs:choice>
                                                                        <xs:sequence>
                                                                           <xs:element name="IndlændingValg">
                                                                              <xs:complexType>
                                                                                 <xs:choice>
                                                                                    <xs:element ref="skat2012:PersonCPRNummer"/>
				
				
				                                                                                <xs:element ref="skat2012:VirksomhedSENummer"/>
                                                                                 </xs:choice>
                                                                              </xs:complexType>
                                                                           </xs:element>
				
				                                                                    </xs:sequence>
                                                                        <xs:sequence>
				
                                                                           <xs:element name="ValutariskUdlændingValg">
                                                                              <xs:complexType>
                                                                                 <xs:choice>
                                                                                    <xs:element ref="skat2012:PersonCPRNummer"/>
				
				
				                                                                                <xs:element ref="skat2012:VirksomhedSENummer"/>
                                                                                 </xs:choice>
                                                                              </xs:complexType>
                                                                           </xs:element>
				
				                                                                    </xs:sequence>
                                                                        <xs:sequence>
				
                                                                           <xs:element name="KontohaverUdenCPRSENummerValg">
                                                                              <xs:complexType>
                                                                                 <xs:choice>
                                                                                    <xs:sequence>
                                                                                       <xs:element name="PersonUkendt">
                                                                                          <xs:complexType>
                                                                                             <xs:sequence>
                                                                                                <xs:element ref="skat2012:KontohaverUkendt"/>
                                                                                             </xs:sequence>
                                                                                          </xs:complexType>
                                                                                       </xs:element>
				
				                                                                                </xs:sequence>
                                                                                    <xs:sequence>
				
                                                                                       <xs:element name="VirksomhedIrrelevant">
                                                                                          <xs:complexType>
                                                                                             <xs:sequence>
                                                                                                <xs:element ref="skat2012:KontohaverUkendt"/>
                                                                                             </xs:sequence>
                                                                                          </xs:complexType>
                                                                                       </xs:element>
                                                                                    </xs:sequence>
                                                                                 </xs:choice>
                                                                              </xs:complexType>
                                                                           </xs:element>
                                                                        </xs:sequence>
                                                                     </xs:choice>
                                                                  </xs:complexType>
                                                               </xs:element>
                                                            </xs:sequence>
                                                         </xs:complexType>
                                                      </xs:element>
                                                   </xs:sequence>
                                                </xs:complexType>
                                             </xs:element>

                                          </xs:sequence>
                                       </xs:choice>
                                    </xs:complexType>
                                 </xs:element>
                              </xs:sequence>
                           </xs:complexType>
                        </xs:element>
                     </xs:sequence>
                  </xs:complexType>
               </xs:element>

               </xs:sequence>
            
         
         
         
         
         </xs:complexType>
      </xs:schema>
