xml/skat2021/view/RenteIndberetningPrioritetslaanStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:ekap2021="http://skat.dk/ekapital/2021/01/01" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/ekapital/2021/01/01" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xs:annotation>
		<xs:documentation/>
		<xs:documentation>r20731</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="../class/Indkomst.xsd"/>
	<xs:include schemaLocation="../class/Virksomhed.xsd"/>
	<xs:include schemaLocation="../class/Konto.xsd"/>
	<xs:include schemaLocation="../class/Note.xsd"/>
	<xs:include schemaLocation="../class/PantIdentifikation.xsd"/>
	<xs:include schemaLocation="../class/Kommune.xsd"/>
	<xs:include schemaLocation="../class/Ejendom.xsd"/>
	<xs:include schemaLocation="../class/Land.xsd"/>
	<xs:include schemaLocation="../class/KontoValuta.xsd"/>
	<xs:include schemaLocation="../class/Rente.xsd"/>
	<xs:include schemaLocation="../class/Laan.xsd"/>
	<xs:include schemaLocation="../class/Kontantlaan.xsd"/>
	<xs:include schemaLocation="../operational/ReservefondUdlodning.xsd"/>
	<xs:include schemaLocation="../class/LaanForhold.xsd"/>
	<xs:include schemaLocation="../class/Kontoperiode.xsd"/>
	<xs:include schemaLocation="../class/KontoType.xsd"/>
	<xs:include schemaLocation="../operational/FlereEndToKontohavereIkkeAlleOplyst.xsd"/>
	<xs:include schemaLocation="../class/Person.xsd"/>
	<xs:include schemaLocation="../operational/VirksomhedFormandAdministrator.xsd"/>
	<xs:include schemaLocation="../class/PersonNavn.xsd"/>
	<xs:include schemaLocation="../operational/KontohaverIdentifikationMulig.xsd"/>
	<xs:include schemaLocation="../class/VirksomhedNavn.xsd"/>
	<xs:include schemaLocation="../operational/KontohaverUkendt.xsd"/>
	<xs:include schemaLocation="../operational/KontohaverIrrelevant.xsd"/>
	<xs:include schemaLocation="../view/IndberetningIdentifikatorStrukturType.xsd"/>
	<xs:include schemaLocation="../view/IndberetningUdenlandskAdresseStrukturType.xsd"/>
	<xs:include schemaLocation="../view/FoedselInformationStrukturType.xsd"/>
	<xs:include schemaLocation="../view/TINNummerStrukturType.xsd"/>
	<xs:element name="RenteIndberetningPrioritetslånStruktur" type="ekap2021:RenteIndberetningPrioritetslånStrukturType"/>
	<xs:complexType name="RenteIndberetningPrioritetslånStrukturType">
		<xs:sequence>
			<xs:element name="Indberetningsperiode">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ekap2021:IndkomstÅr"/>
						<xs:element ref="ekap2021:IndkomstPeriodeTil" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Indberetningspligtig">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ekap2021:VirksomhedSENummer"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element ref="ekap2021:KontoID"/>
			<xs:element name="IndberetningValg">
				<xs:complexType>
					<xs:choice>
						<xs:sequence>
							<xs:element name="Invalidering">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="ekap2021:IndberetningIdentifikatorStruktur"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:sequence>
							<xs:element name="RetbarKontoOplysninger">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="ekap2021:IndberetningIdentifikatorStruktur"/>
										<xs:element ref="ekap2021:NoteTekst" minOccurs="0"/>
										<xs:element name="KontoDetaljer">
											<xs:complexType>
												<xs:sequence>
													<xs:element ref="ekap2021:PantIdentifikationNummer"/>
													<xs:element name="EjendomIdentifikationValg" minOccurs="0">
														<xs:complexType>
															<xs:choice>
																<xs:sequence>
																	<xs:element name="IndenlandskEjendom">
																		<xs:complexType>
																			<xs:sequence>
																				<xs:element ref="ekap2021:KommuneNummer"/>
																				<xs:element ref="ekap2021:EjendomNummer"/>
																			</xs:sequence>
																		</xs:complexType>
																	</xs:element>
																</xs:sequence>
																<xs:sequence>
																	<xs:element name="UdenlandskEjendom">
																		<xs:complexType>
																			<xs:sequence>
																				<xs:element name="EjendomLand">
																					<xs:complexType>
																						<xs:sequence>
																							<xs:element ref="ekap2021:LandKode"/>
																						</xs:sequence>
																					</xs:complexType>
																				</xs:element>
																			</xs:sequence>
																		</xs:complexType>
																	</xs:element>
																</xs:sequence>
															</xs:choice>
														</xs:complexType>
													</xs:element>
													<xs:element ref="ekap2021:KontoStartDato"/>
													<xs:element ref="ekap2021:KontoOphørDato" minOccurs="0"/>
													<xs:element ref="ekap2021:KontoValutaKode"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Beløb">
											<xs:complexType>
												<xs:sequence>
													<xs:element ref="ekap2021:RenteBeløb"/>
													<xs:element ref="ekap2021:LånRestgældBeløb" minOccurs="0"/>
													<xs:element ref="ekap2021:LånKursværdi" minOccurs="0"/>
													<xs:element ref="ekap2021:KontantlånKurstab" minOccurs="0"/>
													<xs:element ref="ekap2021:ReservefondUdlodning" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="KontoperiodeValg">
											<xs:complexType>
												<xs:choice>
													<xs:sequence>
														<xs:element name="KontoperiodeÅrsUltimoListe">
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="Kontoperiode" minOccurs="1" maxOccurs="unbounded">
																		<xs:complexType>
																			<xs:sequence>
																				<xs:element ref="ekap2021:RenteBeløb"/>
																				<xs:element ref="ekap2021:KontantlånIndfriKode" minOccurs="0"/>
																				<xs:element ref="ekap2021:KontantlånKurstab" minOccurs="0"/>
																				<xs:element ref="ekap2021:ReservefondUdlodning" minOccurs="0"/>
																				<xs:element ref="ekap2021:LånForholdRestanceMarkering"/>
																				<xs:element ref="ekap2021:KontoperiodeOpstartDato" minOccurs="0"/>
																				<xs:element ref="ekap2021:KontoperiodeOphørDato" minOccurs="0"/>
																				<xs:element ref="ekap2021:KontoTypeKode"/>
																				<xs:element ref="ekap2021:FlereEndToKontohavereIkkeAlleOplyst"/>
																				<xs:element name="KontohaverListe">
																					<xs:complexType>
																						<xs:sequence>
																							<xs:element name="KontohaverOplysninger" minOccurs="1" maxOccurs="unbounded">
																								<xs:complexType>
																									<xs:sequence>
																										<xs:element ref="ekap2021:LånForholdGældEftergivelseKode" minOccurs="0"/>
																										<xs:element name="UdenlandskEjendom" minOccurs="0">
																											<xs:complexType>
																												<xs:sequence>
																													<xs:element ref="ekap2021:EjendomNummer"/>
																												</xs:sequence>
																											</xs:complexType>
																										</xs:element>
																										<xs:element name="KontohaverValg">
																											<xs:complexType>
																												<xs:choice>
																													<xs:sequence>
																														<xs:element name="IndlændingValg">
																															<xs:complexType>
																																<xs:choice>
																																	<xs:sequence>
																																		<xs:element name="Person">
																																			<xs:complexType>
																																				<xs:sequence>
																																					<xs:element ref="ekap2021:PersonCPRNummer"/>
																																					<xs:element ref="ekap2021:VirksomhedFormandAdministrator"/>
																																				</xs:sequence>
																																			</xs:complexType>
																																		</xs:element>
																																	</xs:sequence>
																																	<xs:element ref="ekap2021:VirksomhedSENummer"/>
																																</xs:choice>
																															</xs:complexType>
																														</xs:element>
																													</xs:sequence>
																													<xs:sequence>
																														<xs:element name="ValutaudlændingValg">
																															<xs:complexType>
																																<xs:choice>
																																	<xs:sequence>
																																		<xs:element name="Person">
																																			<xs:complexType>
																																				<xs:sequence>
																																					<xs:element ref="ekap2021:PersonCPRNummer" minOccurs="0"/>
																																					<xs:element ref="ekap2021:PersonNavnForNavn"/>
																																					<xs:element ref="ekap2021:PersonNavnEfterNavn"/>
																																					<xs:element ref="ekap2021:IndberetningUdenlandskAdresseStruktur" minOccurs="0"/>
																																					<xs:element ref="ekap2021:FødselInformationStruktur" minOccurs="0"/>
																																					<xs:element ref="ekap2021:TINNummerStruktur" minOccurs="0"/>
																																					<xs:element ref="ekap2021:VirksomhedFormandAdministrator"/>
																																					<xs:element ref="ekap2021:KontohaverIdentifikationMulig"/>
																																				</xs:sequence>
																																			</xs:complexType>
																																		</xs:element>
																																	</xs:sequence>
																																	<xs:sequence>
																																		<xs:element name="Virksomhed">
																																			<xs:complexType>
																																				<xs:sequence>
																																					<xs:element ref="ekap2021:VirksomhedSENummer" minOccurs="0"/>
																																					<xs:element ref="ekap2021:VirksomhedNavnFirmaNavn"/>
																																					<xs:element ref="ekap2021:IndberetningUdenlandskAdresseStruktur" minOccurs="0"/>
																																					<xs:element ref="ekap2021:TINNummerStruktur" minOccurs="0"/>
																																					<xs:element ref="ekap2021:KontohaverIdentifikationMulig"/>
																																				</xs:sequence>
																																			</xs:complexType>
																																		</xs:element>
																																	</xs:sequence>
																																</xs:choice>
																															</xs:complexType>
																														</xs:element>
																													</xs:sequence>
																													<xs:element ref="ekap2021:KontohaverUkendt"/>
																													<xs:element ref="ekap2021:KontohaverIrrelevant"/>
																												</xs:choice>
																											</xs:complexType>
																										</xs:element>
																									</xs:sequence>
																								</xs:complexType>
																							</xs:element>
																						</xs:sequence>
																					</xs:complexType>
																				</xs:element>
																			</xs:sequence>
																		</xs:complexType>
																	</xs:element>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
													</xs:sequence>
													<xs:sequence>
														<xs:element name="KontoperiodeKvartalListe">
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="Kontoperiode" minOccurs="1" maxOccurs="unbounded">
																		<xs:complexType>
																			<xs:sequence>
																				<xs:element ref="ekap2021:RenteBeløb"/>
																				<xs:element ref="ekap2021:LånForholdRestanceMarkering"/>
																				<xs:element ref="ekap2021:KontoperiodeOpstartDato" minOccurs="0"/>
																				<xs:element ref="ekap2021:KontoperiodeOphørDato" minOccurs="0"/>
																				<xs:element ref="ekap2021:KontoTypeKode"/>
																				<xs:element name="KontohaverListe" minOccurs="0">
																					<xs:complexType>
																						<xs:sequence>
																							<xs:element name="KontohaverOplysninger" minOccurs="1" maxOccurs="2">
																								<xs:complexType>
																									<xs:sequence>
																										<xs:element name="UdenlandskEjendom" minOccurs="0">
																											<xs:complexType>
																												<xs:sequence>
																													<xs:element ref="ekap2021:EjendomNummer"/>
																												</xs:sequence>
																											</xs:complexType>
																										</xs:element>
																										<xs:element name="KontohaverValg">
																											<xs:complexType>
																												<xs:choice>
																													<xs:sequence>
																														<xs:element name="IndlændingValg">
																															<xs:complexType>
																																<xs:choice>
																																	<xs:element ref="ekap2021:PersonCPRNummer"/>
																																	<xs:element ref="ekap2021:VirksomhedSENummer"/>
																																</xs:choice>
																															</xs:complexType>
																														</xs:element>
																													</xs:sequence>
																													<xs:sequence>
																														<xs:element name="Valutaudlænding">
																															<xs:complexType>
																																<xs:sequence>
																																	<xs:element ref="ekap2021:PersonCPRNummer"/>
																																</xs:sequence>
																															</xs:complexType>
																														</xs:element>
																													</xs:sequence>
																													<xs:element ref="ekap2021:KontohaverUkendt"/>
																													<xs:element ref="ekap2021:KontohaverIrrelevant"/>
																												</xs:choice>
																											</xs:complexType>
																										</xs:element>
																									</xs:sequence>
																								</xs:complexType>
																							</xs:element>
																						</xs:sequence>
																					</xs:complexType>
																				</xs:element>
																			</xs:sequence>
																		</xs:complexType>
																	</xs:element>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
													</xs:sequence>
												</xs:choice>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:choice>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
